<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p>
        {{ name }} 
    </p>
    <p>
        {{ surname }} 
    </p>
    <p>
        {{ matricule }} 
    </p>

</body>

</html>